.custom-hero {
  background-color: #F8F8F8;
  color: #1D1D1D;
}

.slider-container {
  overflow: hidden;
  white-space: nowrap;
  width: 100vw;
  margin: 100px 0;
  padding: 0;
}

.slider-track {
  display: inline-flex;
  animation: scroll-left 50s linear infinite;
}

.slide {
  flex: 0 0 auto;
}

.slide img {
  height: 200px;
  margin-right: 10px;
  display: block;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
